nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
}

section {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.45em;
  margin-left: 1em;
}

section img {
  height: 60px;
  width: auto;
}

h3 {
  margin-right: 25px;
}

@media screen and (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
  section {
    font-size: 1.5vh;
    
  }
  section img {
    height: 4vh;
  }
  h3 {
    margin-right: .5vh;
    font-size: 1.2vh;
  }
}
